@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Old+Standard+TT&family=Unna&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Bentham', serif;
  font-family: 'Old Standard TT', serif;
  font-family: 'Unna', serif;
}

p {
  color: #57536C;
}

option {
  color: #57536C;
}

body {
  background: #FFFBF5;
  background: linear-gradient(to right, #FFFBF5, #FFFBF1);
}

.w-30 {
  width: 70px;
}

/*login*/

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.card-body {
  background: #D1E5E6;
  color: #57536C !important;
}

.btn-color {
  background: #D0D6B0;
  color: #57536C;
}

.lable-color {
  background: #ffffff;
}

.card-title {
  color: #57536C !important;
}

.btn-sky {
  background: #D1E5E6;
}

.btn-pp {
  background: #D8CCE2;
}

.img {
  height: 80px;
}

/*Register*/

.card-body2 {
  background: #D8CCE2;
  color: #57536C !important;
}

/* footer */
.footer-basic {
  padding: 40px 0;
  background-color: #57536C;
  color: #D8CCE2;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  color: #D8CCE2;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.iconn {
  color: #D8CCE2 !important;
}

/*home*/

.img-slide {
  height: 500px;
}

.h-25rem {
  height: 25rem;
  object-fit: cover;
}

/*Select*/
.card-body3 {
  color: #57536C !important;
}

.bg-color {
  background-color: #ffffff;
}

.bg-cream {
  background: #FFFBF5;
}

.btn-or {
  background-color: #F7A691 !important;
}

.promo-image {
  width: 250px;
  max-width: 500px;
}

.bg-pp {
  background: #D8CCE2;
}

.iconn-se {
  color: #57536C !important;
}

.btn-green {
  background-color: #D0D6B0 !important;
  color: #393645 !important;
}

/*Receipt*/

.user {
  color: #57536C;
}

/**/



.btn:hover {
  color: #fff;
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #F7A691 !important;
  outline: 0px;
}

.form-control {
  border: 1px solid #393645 !important;
}

.add-pho {
  width: 400px;
  height: 300px;
}

.iconn1 {
  color: #57536C;
}

.border {
  color: #57536C !important;
}

.im-photo {
  border: 1px solid #57536C;
}

.im-photo1 {
  width: 100%;
  height: 100%;
}

.input-group-text {
  background-color: #D8CCE2 !important;
}

.form-label {
  color: #57536C !important;
}

.form-check-label {
  color: #57536C;
}

.form-check-input:checked {
  background-color: #57536C !important;
  border-color: #57536C !important;
}

.btn-purple {
  background-color: #D8CCE2 !important;
  color: #57536C !important;
  border: #57536C !important;
}

.btn-purple :hover {
  background-color: #D0D6B0 !important;
}

.btn-purple2 {
  background-color: #57536C !important;
  color: #ffffff !important;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #57536C;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #57536C;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #aaa;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.bg-dg {
  background-color: #F7A691 !important;
}

.bg-or {
  background-color: #F79E36 !important;
}

.bg-pp {
  background-color: #D8CCE2 !important;
}

.bg-sk {
  background-color: #D1E5E6 !important;
}

.bg-gn {
  background-color: #D0D6B0 !important;
}

/*404*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

.error-container {
  text-align: center;
  font-size: 106px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}

.error-container>span {
  display: inline-block;
  position: relative;
}

.error-container>span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background:
    linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
    linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
    linear-gradient(to right, #d89ca4, #e27b7e);
}

.error-container>span.four:before,
.error-container>span.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
}

.error-container>span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background:
    linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
    linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
    linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container>span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container>span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%),
    linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
  overflow: hidden;
  animation: bgshadow 5s infinite;
}

.error-container>span.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background:
    linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
    linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}

.error-container>span.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }

  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

/* demo stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #FDFAF5;
  margin-bottom: 50px;
}

html,
button,
input,
select,
textarea {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #bbb;
}

h1 {
  text-align: center;
  margin: 30px 15px;
}

.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}

.link-container {
  text-align: center;
}

a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #de7e85;
  padding: 10px 15px;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}